body {
  
    background-image:url("./pages/Articles/newspaper.jpg");
    background-repeat:no-repeat;
    background-position:fixed;
    background-size:cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
